@import "/stylus.styl"
.wraper
  overflow hidden
.wrap_carusel
  margin-top 50px
  position relative
  top 0
  left 0
  height 600px
  width 4815px
  z-index 99
.content_carusel
    display inline-block
    height 600px
    width 1195px
    position relative
    top 0
    left 0