@import "/stylus.styl"
header
  min-width 753px
.section_line1
  min-width 753px
.section_line2
  min-width 753px
.section_line3
  min-width 753px
footer
    min-width 753px
.header_hed
  width: 100%
  height: 130px
  background-color: white
  padding 45px 0
.logo
  float: left
.logo
  a
    text-decoration none
    color black
.logo_text
  margin 0
  font-size 40px
.navigation
  height 40px
  float right
  padding: 10px 0;
.navigation_sp
  padding 0
  margin 0
  list-style none
.navigation_links
    display inline-block
    margin-left: 50px;
.navigation_links
  a
    text-decoration none
    color black
    font-size 16px
    margin 0
.navigation_links
  a:hover
    text-decoration underline
.header_image
  display flex
  background-image:url("../img/bcg_header.png")
  width 100%
  height: 650px
  background-repeat: no-repeat;
  background-size: 100% 100%;
.header_img_wrap
  width 100%
  text-align center
  padding 225px 0
.centr_zagolovok
  margin 0
  font-size 50px
  font-family: monotype corsiva;
.centr_text
  margin 20px 0 40px 0
  font-size 16px
.centr_btn
  font-size 18px
  outline: 0;
  background-color: #383838;
  width: 290px;
  height: 50px;
  border-radius: 25px;
  border: none;
  color: white;
.strelka1
  padding 3px 3px
.section_line1
  background-color white
  width 100%
  height 1670px
.content1
  padding 100px 0
  width 100%
  height 425px
  border-bottom 1px solid #EAEAEA
.content1_wrap
  text-align center
  height 225px
.content1_zagolovok
  font-size 22px
  margin 40px 0
.content1_text
  font-size 14px
  margin 0
.wrap_content2
  height 625px
  text-align center
.content2_zagolovok
  font-size: 30px;
  margin: 0;
  margin-top: 75px;
  margin-bottom: 20px;
.content2_text
  font-size 16px
  margin: 0;
  margin-bottom: 75px;
.wrap_video
  position relative
.video_img
  max-width 100%
.play
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    margin auto
    cursor pointer
.content3
  width 100%
  height 420px
  margin 100px 0
.zagolovok_content3
  font-size 30px
  text-align center
  margin 0
.wrap_brand
  margin-top 65px
  height 320px
.brand
  height 320px
  width 100%
  background: #F7F7F7
  position relative
.img_brand
    max-width 100%
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    margin auto
.btn_project
  width 100%
  height 60px
  background-color #565656
  color white
  position: absolute;
  bottom: 0;
  border none
  outline none
  opacity 0
  transition: all 500ms ease-in-out;
.brand:hover
  .btn_project
    opacity 1
    transition: all 500ms ease-in-out;
.section_line2
  background-color #F5F5F5
  width 100%
  height 360px
.wrap_content4
  width 100%
  text-align center
  padding 100px 0 90px 0
.zagolovok_content4
  font-size 30px
  margin 0
.text_content4
  font-size 14px
  margin 0
  margin-top 25px
  margin-bottom 50px
.jmi
  outline none
  color black
  border-radius 25px
  border 2px solid #505050
  padding 15px 0
  width 310px
  height 50px
  background-color #F5F5F5
  font-size 16px
.section_line3
  background-color white
  width 100%
  height 270px
.wrap_socsety
  text-align center
  width 100%
  margin 100px 0
.socsety
  position relative
  width 70px
  height 70px
  border 2px solid #4C4C4C
  margin 0 30px
  display inline-block
  transition all 500ms ease-in-out
.socsety:hover
  background-color #00ADF1
  transition all 500ms ease-in-out
.img_socsety
  position absolute
  top 0
  left 0
  bottom 0
  right 0
  margin auto
footer
  width: 100%
  height 350px
  background-color: #383838
  padding 100px 0
.zagolovok_footer
  color white
  font-size 18px
  margin 0
  margin-bottom 40px
.contacts
  padding 0
  list-style none
.contact_links
  color #EBEBEB
  margin-bottom 15px
.contact_links
  a
    color #B6B6B6
.link
  a
    color #EBEBEB
    text-decoration none
.strelka
    padding 2px 2px
@media screen and (max-width: 1200px)
  .container
    width 100%
  .navigation_links
    margin-left 25px
@media screen and (max-width: 1025px)
  .container
    width 100%
  .navigation_links
    margin-left 25px
footer
  padding: 45px;
  height: 425px;
.zagolovok_footer
  margin-top 15px
@media screen and (max-width: 769px)
  .container
    width 100%
  .navigation_links
    margin-left 25px